<!DOCTYPE html>
<html lang="it">

<head>
    <th:block th:replace="fragments :: risorse-head"></th:block>
    <title>Insegnanti</title>
</head>

<body>
    <th:block th:replace="fragments :: navbar('teacher')"></th:block>
    
      <div th:if="${#lists.isEmpty(TeaList)}">
	  	<h1>Lista non disponibile, riprovare più tardi</h1>
	  </div>
	  <div th:unless="${#lists.isEmpty(TeaList)}">
	        <table class="table my-3">
	          <thead>
	            <tr class="text-center">
	              <th>Insegnante</th>
	           
	            </tr>
	          </thead>
	          <tbody>
	            <tr class="align-middle" th:each="tl : ${TeaList}">
	               <td class="text-center"> <a  class="text-decoration-none fw-bold "  th:href="@{|/teacher/${tl.getId()}|}"  th:text="${tl.getFullName()} "></a> </td>
              	
             	   
             	   
	            </tr>
	          </tbody>
	        </table>
	   </div>
</body>
</html>