<!DOCTYPE html>
<html lang="it">

<head>
    <th:block th:replace="fragments :: risorse-head"></th:block>
    <title>Insegnanti</title>
</head>

<body>
    <th:block th:replace="fragments :: navbar(teacher)"></th:block>
    
      <div th:if="${#lists.isEmpty(TeaList)}">
	  	<h1>Lista non disponibile, riprovare più tardi</h1>
	  </div>
	  <div th:unless="${#lists.isEmpty(TeaList)}">
	        <table class="table my-3">
	          <thead>
	            <tr class="text-center">
	              <th>Insegnante</th>
	              <th>Telefono</th>
	              <th>E-Mail</th>
	              <th>Indirizzo Ufficio</th>
	              <th> Numero</th>
	            </tr>
	          </thead>
	          <tbody>
	            <tr class="align-middle" th:each="tl : ${TeaList}">
	               <td th:text="${tl.name}"></td>
              	   <td th:text="${tl.phone}"></td>
             	   <td th:text="${tl.email}"></td>
             	   <td th:text="${tl.officeAddress}"></td>
             	   <td th:text="${tl.officeNumber}"></td>
             	   
	            </tr>
	          </tbody>
	        </table>
	   </div>
</body>
</html>